.addBtn{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.container{
    margin-top: 55px;
    width: 700px;
    
}

label{
    font-family: 'Roboto';
    font-weight: 500;
    color: gray;
}

.btn-group{
    margin-top: -79px;
    margin-left: 386px;
}